# .NET
bin/
obj/
*.user
*.suo
.vs/
TestResults/

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Build cache & Scratch
scratch/
*.tsbuildinfo
